canvas {
  display: block;
  margin: 0 auto;
  background-image: url(../sprites/IMG_4810.png);
}
body {
  background-image: url(../sprites/stringstarfields/example.png);
  background-size: 100%;
  background-repeat: repeat;
}
#screenSizeAlert {
  display: none;
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 250px 30px;
  background: black;
}
@media(max-width: 631px){
  canvas {
    display: none;
  }
  #screenSizeAlert {
    display: block;
  }
}